body {
  box-sizing: border-box;
  background: #000;
  font-family: 'Bree Serif', serif;
}
ul {
  list-style-type: none;
  cursor: pointer;
}
.header {
  width: 100%;
  color:#fff;
  text-align: center;
}
#search-div {
  width: 100%;
}
input {
  width: 80%;
  margin-left: 10%;
  background: #000;
  border: none;
  border-bottom: 1px solid grey;
  color: #fff;
  height: 40px;
  font-size: 16px;
  text-align: center;
}
input:focus {
  outline: none;
  background: #fff;
  color: #000;
  transition: background-color .6s;
}
#region {
  width: 100%;
  background: white;
  margin-bottom: 50px;
  height: 40px;
}
#region ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 9px;
  padding-left: 0;
}
#region ul li {
  margin-left: 20px;
}
#main {
  width: 100%;
}
#main ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
#main ul li {
  width: 100%;
  margin-left: 0;
  color: white;
  height: 60px;

}
#main ul li img {
  width: 100%;
}
#main p {
  text-align: center;
}
.hide {
  display: none;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

@media screen and (min-width: 478px) {
  #search-div {
    margin-bottom: 50px;
  }
  input {
    width: 40%;
    margin-left: 30%;
  }
  #main ul li {
    width: 15%;
    margin-left: 4.1%;
}
